.register-page {
    width: 100vw;
    height: 100vh;
}

.register-as {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register-card {
    background-color: rgb(190, 190, 190) !important;
}